.meio-forms {
    display: flex;
  }
  
  .row-forms {
    width: 100%;
    height: auto;
    align-items: start;
    justify-content: center;
    margin-left: 0 !important;
  }
  
.add-subject-form input {
    border: 1px solid #403D39;
    background-color: #FFFCF2;
    border-radius: 6px;
    height: 64px;
    margin-bottom: 24px;
}

.add-subject-form button {
    background-color: #EB5E28;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  transition-duration: 0.4s;
  border: 1px transparent;
}
    .add-subject-form button:hover {
        background-color: #FFFCF2;  
        color: #EB5E28;
        border-color:#EB5E28;
        border: 1px solid;
    }  

    .add-subject-form button:disabled {
      background-color: #ccc !important; /* Cor de fundo quando desativado */
      color: #888; /* Cor do texto quando desativado */
      cursor: not-allowed; /* Cursor do mouse quando passa por cima */
      border: 1px solid #ccc; /* Borda quando desativado */
    }
    